@use "../Variables.scss";

#contact-container {
    background-color: Variables.$secondary-background-color;
    width: 100%;
    padding-top: Variables.$nav-height;
    padding-bottom: 40px;

    h1 {
        text-align: center;
        font-size: 3em;
        padding-bottom: 0;
        padding-top: 40px;
        margin-bottom: 0;
        cursor: default;
    }

    hr {
        border: 1px solid Variables.$font-color;
        width: 20%;
    }

    #contact-avatar {
        display: none;  // TODO: Find a good portfolio photo.
        margin-left: auto;
        margin-right: auto;
        width: min-content;
        max-width: 100%;

        img {
            border-radius: 50%;
        }
    }

    #contact-content {
        font-size: 1.1em;
        padding: 20px;
        width: 30%;
        min-width: 330px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}