@use "../Variables.scss";

#experiences-container {
    background-color: Variables.$background-color;
    width: 100%;
    padding-top: Variables.$nav-height;
    padding-bottom: 40px;

    h1 {
        text-align: center;
        font-size: 3em;
        padding-bottom: 0;
        padding-top: 40px;
        margin-bottom: 0;
        cursor: default;
    }

    > hr {
        border: 1px solid Variables.$font-color;
        width: 20%;
    }

    #experiences {
        padding-top: 50px;

        .experience {
            margin-left: auto;
            margin-right: auto;
            transform: translateX(calc(-50% - 2px));
            width: 40%;
            color: #eeeeee;
            margin-bottom: 200px;

            h3 {
                margin: 0;
                padding: 0;
            }

            ul {
                padding-inline-start: 1em;

                li {
                    padding-bottom: 10px;
                }
            }
        }

        .experience:nth-child(2n) {
            text-align: right;
            transform: translateX(calc(50% + 2px));
        }
    }
}