@use "../Colors.scss";

@keyframes nav-item-underline {
    0% {
        color: Colors.$font-color;
    }
    100% {
        
    }
}

#nav {
    position: fixed;
    top: 0;
    background-color: Colors.$background-color;
    width: 100%;
    height: min-content;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            float: right;
            display: inline;
            margin-right: 20px;
            margin-top: 20px;
        }
    }
}