@import './animations.css';

:root {
  --background-color: #48b5e0;
  --secondary-background-color: #0b8abd;
  --scrollbar-thumb-color: #249bca;
  --font-color: #fff;
  --link-hover-color: #eee;
  --project-box-color: #f1f1f1;
  --project-box-font-color: #000;
  --project-box-skill-color: #ffffff;

  --nav-height: 60px;

  --project-col-count: 4;
}

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Cabin;
  src: url('./Cabin.ttf');
}

body {
  background: var(--background-color);
  font-family: 'Cabin', sans-serif;
  color: var(--font-color);
}