$background-color: #48b5e0;
$scrollbar-thumb-color: #249bca;

html, body, #root {
  height: 100%;
}

body {
  background: $background-color;
}

::-webkit-scrollbar {
  background-color: $background-color;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
}